body {
    background-color: #1e8537;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23355237' fill-opacity='1'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  min-height: 150vh;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

h1 {
  text-align: center;
  font-size: 7rem;
  line-height: 1;
  margin-bottom: 0;
  display: inline-block;
  margin-bottom: 2rem;
}

.skoor {
  color: aliceblue;
}
.mutimullaHunnikud {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: pointer;
}

.auk {
  flex: 1 0 30%;
  overflow: hidden;
  position: relative;
}

.auk:after {
  display: block;
  /* background: url('https://svgshare.com/i/BCM.svg') bottom center no-repeat; */
  background: url('dirt.svg') bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mutt {
  /* background: url('https://svgshare.com/i/8iE.svg') bottom center no-repeat; */
  background: url('mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.auk.piilub .mutt {
  top: 0;
}


.nupp {
  cursor: pointer;
  color: aliceblue;
  border: 1px solid black;
  color: black;
  font-family: 'Amatic SC', cursive;
  font-size: 4rem;
  height: 10rem;
  width: 35rem;
  border-radius: 5px;

}

.pealkiri {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.fleks {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
h2 {
  position: absolute;
  font-size: 4rem;
  top: 0;
  right: 3rem;
}
li{
  font-size: 4rem;
  text-decoration: none;
}

ul {
    list-style-type: none;
}
li a {
  text-decoration: none;
  color: yellow;
  cursor: pointer;
}
.class{
  text-decoration: none;
  cursor: pointer;
}


li a:hover {
  color: blueviolet;
  transform: rotate(1080deg);
}